.customer-cell {
	border:1px solid #d0d0d0;
	padding:15px;
	margin-bottom:20px;
}
.customer-cell .address {
	list-style-type:none;
	margin:0;
	padding:0;
}
.form-controls-wrap {
	text-align:right;
}
.form-controls-wrap button {
	margin-left:5px;
}
.form-controls-wrap button:first-child {
	margin-left:0;
}
.customer-controls-wrap {
	text-align:right;
}
.customer-controls-wrap button {
	margin-top:5px;
	width:100px;
}
.customer-controls-wrap button:first-child {
	margin-top:0;
}
.add-customer-btn {
	margin-bottom:20px;
}
.customer-lookup-result {
	margin-top:20px;
}